.game {
  width: 200px;
  margin: 20px auto;
}

.listStyle {
  list-style-type: none;
}

.moveButtons {
  border: none;
  background-color: rgb(252, 224, 250);
  padding: 5px;
  border-radius: 20px;
  margin-top: 2px;
}
